{% extends "base.html" %}

{% block content %}
<main>
    <div class="member-head-flexbox">
        <h3>Active Members</h3>
        <form action="/index">
            <button type="submit">Back</button>
        </form>
    </div>
    <hr>
        {% for member in all_members %}
        <div class="member-row">
            <p class="member-name">{{member.first_name}} {{member.last_name}}</p><form action="/members/{{member.id}}"><button class="view-member-button" type="submit">View</button>
            </form>
        </div>
    <hr>
    {% endfor %}

</main>
{% endblock %}