{% extends "base.html" %}

{% block content %}
<main>
    <div class="child-head-container">
        <form class="back-button-form" action="/">
            <button class="child-head-button" type="submit">Back</button>
        </form>
        <h3 class="child-h3">Active Members</h3>
        <form class="add-class-button"></form>
    </div>
    <hr>
        {% for member in all_members %}
        <div class="member-row">
            <p class="member-name">{{member.first_name}} {{member.last_name}}</p><form action="/members/{{member.id}}"><button class="view-member-button" type="submit">View</button>
            </form>
        </div>
    <hr>
    {% endfor %}

</main>
{% endblock %}