{% extends "base.html" %}

{% block content %}
<main>
    <div class="child-head-container">
        <form class=back-button-form action="/classes">
            <button class="child-head-button" type="submit">Back</button>
        </form>
        <h3 class="child-h3">Booking Form</h3>
        {% if all_members_len > 0 and all_classes_len > 0 %}
        <button form="booking-form" class="child-head-button" type="submit">Make Booking</button>
        {% endif %}  
    </div>
    <hr>
        <div>
            <form class="booking-form" id="booking-form" action="/bookings" method="post">
                
                    <div class="select-name">
                        <label for="member_id">Select Member: </label>
                    </div>
                    <div class="name-dropdown">
                        <select name="member_id" id="member_id">
                            {% if all_members_len == 0 %}
                            <option>No Members Registered</option>
                            {% endif %}
                            {% for member in all_members %}
                            <option value="{{member.id}}">{{member.first_name}} {{member.last_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select-class">
                        <label for="class_id">Select Class: </label>
                    </div>
                    <div class="class-dropdown">
                        <select name="class_id" id="class_id">
                            {% if all_classes_len == 0 %}
                            <option>No Classes Created</option>
                            {% endif %}
                            {% for class in all_classes %}
                            <option value="{{class.id}}">{{class.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                             
                
            </form>
        </div>
</main>
        {% endblock %}