body {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: "Teko", Arial;
}

header {
    background-color:dodgerblue ;
    margin:0%
}

h1 {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}

h3 {
    text-align: center;
    margin: 0;
}

main {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 75%;
}

a {
    text-decoration: none;
}
textarea {
    font-family: "Teko", Arial;
}

button {
    font-family: "Teko", Arial;
}

input[type=text] {
    font-family: "Teko", Arial;
}

option {
    font-family: "Teko", Arial;
}

/* Start page ---------------------------------- */

#main-menu-h3 {
    margin-bottom: 5%;
}

.link-button-left {
    width: 100%;
    height: 100%;
    /* margin-bottom: 1%; */
}

.link-button-right {
    width: 100%;
    height: 100%;
    /* margin-bottom: 1%; */
}

.link-button-long {
    width: 100%
}

a:visited {
    color: black;
}


.index-link-container {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
    grid-template-areas: 
    "view-members dead-space view-classes"
    "add-member dead-space add-class"
    "create-booking create-booking create-booking";
}


.start-page-form-area {
    height: fit-content;
}

.dead-space {
    grid-area: dead-space;
}

.view-members-area {
    grid-area: view-members;
    height: 100%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.add-member-area {
    grid-area: add-member;
    height: 100%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.view-classes-area {
    grid-area: view-classes;
    height: 100%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.add-class-area {
    grid-area: add-class;
    height: 100%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.create-booking-area {
    grid-area: create-booking;
    height: 100%;
    margin-bottom: 3%;
}

.link-button-long {
    height: 100%;
}

footer {
    position: absolute
}

footer > p {
    align-content: center;
}

/* VIEW MEMBERS ---------------------------- */

.member-row {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas:
    "name view-member";
}

.member-name {
    grid-area: name;
    margin: 0;
}

.view-member-button {
    grid-area: view-member;
    width: 100%;
}

.child-head-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: 
    "back-button header right-element";
}

.back-button-form {
    grid-area: back-button;
    width: 100%;
}

.child-head-button {
    width: 100%;
}

.child-h3 {
    grid-area: header;
}

.child-pad {
    grid-area: right-element;
}

.child-edit-button {
    grid-area: right-element;
    width: 100%;
}

/* VIEW ONE MEMBER ---------------------------------------------- */

.member-details {
    text-align: center;
}

/* ADD MEMBER ---------------------------------- */

.add-member-form {
    display: grid;
    grid-template-columns: 20% 30%;
    grid-template-areas: 
    "name-label name-input"
    "last-name-label last-name-input";
}
.name-label-text {
    grid-area: name-label;
}

.name-input-label {
    grid-area: name-input;
}

.last-name-label-text {
    grid-area: last-name-label;
}

.last-name-input {
    grid-area: last-name-input;
}


/* EDIT MEMBER -------------------------------------------------------- */

.edit-member {
    display: flex;
    justify-content: space-evenly;
}

#edit-member-form > div > a {
    color:red;
}

#edit-member-form > div > a:visited {
    color: red;
}
/* VIEW CLASSES ---------------------------------------------------- */

.class-list-grid {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-areas: 
    "class-name view-class edit-class";
}

.class-name-grid-area {
    grid-area: class-name;
    margin: 0%;
}

.class-view-button-grid-area {
    grid-area: view-class;
    width:100%;
}

.class-edit-button-grid-area {
    grid-area: edit-class;
    width:100%;
}

.class-edit-page-button {
    width: 90%;
}

.save-button-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
    "save-button" "right-side-pad";
}

.save-button {
    grid-area: save-button;
    width: 100%;
}

.save-button-padding {
    grid-area: right-side-pad;
}

#save-button-class-edit {
    width: 100%;
}

/* VIEW SINGLE CLASS --------------------------- */

.class-information-container {
    display:grid;
    grid-template-columns: 60% 20%;
    grid-template-areas: 
    "description members-list"
    "description-pane members-list"
    "description-pane members-list";
}

.class-information-container {
    grid-area: class-id;
} 

.class-name {
     grid-area: class-name;
 }

 .description {
     grid-area: description;
 }

 .description-pane {
     grid-area: description-pane;
 }

 .members-head {
     grid-area: members-head;
 }

 .members-list {
     grid-area: members-list;
     align-content: center;
     padding-left: 12%;
 }

 .member-list-dropdown {
     margin-top: 7%;
 }

 /* CREATE CLASS PAGE -------------------------------- */

 .save-class-form {
     display:grid;
     grid-template-columns: 20% 80%;
     grid-template-areas:
      "class-label class-text"
      "description-label description-text"}


.class-label {
    grid-area: class-label;
}

.class-text {
    grid-area: class-text;
}

.description-label {
    grid-area: description-label;
}

.description-text {
    grid-area: description-text;
}

/* BOOKING FORM ----------------------------------------- */

.booking-form {
    display:grid;
    grid-template-columns: 30% 50%;
    grid-template-areas: 
    "select-name name-dropdown"
    "select-class class-dropdown";
}

.select-name {
    grid-area: select-name;
}

.select-class {
    grid-area: select-class;
}

.name-dropdown {
    grid-area: name-dropdown;
}

.class-dropdown {
    grid-area: class-dropdown;
}

#member_id {
    width: 100%;
}

#class_id {
    width: 100%;
}