{% extends "base.html" %}

{% block content %}

<main>
    <div class="index-link-container">   

        <div class="view-members-area">
            <form class="start-page-form-area" action="/members">
                <button class="link-button-left" type="submit">View Members</button>
            </form> 
        </div>

        <div class="add-member-area">
            <form class="start-page-form-area" action="/members/new">
                <button class="link-button-left" type="submit">Add Member</button>
            </form> 
        </div>

        <div class="view-classes-area">
            <form class="start-page-form-area" action="/classes">
                <button class="link-button-right" type="submit">View Classes</button>
            </form> 
        </div>

        <div class="add-class-area">
            <form class="start-page-form-area" action="/classes/new">
                <button class="link-button-right" type="submit">Add Class</button>
            </form> 
        </div>

        <div class="create-booking-area">
            <form class="start-page-form-area" action="/bookings/new">
                <button class="link-button-long" type="submit">Create Booking</button>
            </form> 
        </div>

    </div>

</main>
{% endblock %}