{% extends "base.html" %}

{% block content %}
<main>
    <div class="child-head-container">
        <form class=back-button-form action="/classes">
            <button class="child-head-button" type="submit">Cancel</button>
        </form>
        <h3 class="child-h3">Edit Class</h3>
        <button form="class-edit-form" id="save-button-class-edit" type="submit">Save Changes</button>
    </div>
<hr>
<div>
    <form id="class-edit-form" action="/classes/{{class_to_edit.id}}" method="post">
        <label for="name">Class Name:</label><br>
        <input type="text" name="name" id="name" value="{{class_to_edit.name}}"><br>
        <label for="description"> Class Description:</label><br>
        <textarea name="description" id="description" cols="40" rows="7">{{class_to_edit.description}}</textarea><br>
    </form>
</div>

{% endblock %}